<div class="Comment">
<br>
</div>

<script type="text/javascript" charset="utf-8">
  function getAllCom() {	
    $.getJSON("/comments/", function(comments) {	
      comments.forEach(comment => {   	
        $(".Comment").append(comment.candy.name + ": " + "<li>" + comment.name +"<li>")
      })  	
    });	
  };	
getAllCom()
</script>
<br>