<div>
    <h1>Candies</h1>
    <div id="sourCandies">
      <h2>Sour Candies</h2>
    </div>
  
    <div id="sweetCandies">
      <h2>Sweet Candies</h2>
    </div>
</div>



<script type="text/javascript" charset="utf-8">
  
function postCandies() {

    $.get("/candies/", function(candies) {
    candies.forEach(candy => {   
      $("#" + candy.taste + "Candies").append("<a href='/candies/" + candy.id + "'>" + candy.name + "</a><br>");   
      debugger
    })
  });
};

postCandies();
</script>

<% if current_user.employee %>

  <%= link_to 'New Candy', new_candy_path %>
    <% end %>
  <%= link_to 'Log Out', signout_path%>
