<%= render 'form' %>

<div id="candyResult">
<h2 id="candyName"></h2>
<p id="candyTaste"></p>
<p id="candyAppetite"></p>
<p id="candyCost"></p>
<p id="candyCount"></p><br>
</div>


<script type="text/javascript" charset="utf-8">
$(function () {
  $('form').submit(function(event) {
    event.preventDefault();
    debugger
    var values = $(this).serialize();
    debugger
    var posting = $.post('/candies', values);
    posting.done(function(data) {
var candy = data
      debugger
      $("#candyName").text(candy["name"]);
      $("#candyTaste").text(candy.taste);
      $("#candyAppetite").text(candy.appetite);
      $("#candyCost").text(candy.cost);
      $("#candyCount").text(candy.count);

    });
  });
});
</script>

<%= link_to 'See candies', candies_path %>
<%= link_to 'Log Out', signout_path%>
