 
 <div class="purchase">
<% @purchases.each do |purchase| %>

<li><%= link_to "Purchase ID: #{purchase.candy.name}", purchase_path(purchase) %></li>

  

<% end %>
</div>
 
 
 
 <script type="text/javascript" charset="utf-8">

    
       $(function () {

           $.getJSON("/purchases/", function(purchase) {
            for (var i = 0; i < purchase; i++) {
             debugger
           $(".purchaseCandyName").text(purchase.candy.name);
           $(".PurchaseCandyTaste").text(purchase.candy.taste);
           $(".purchaseCandyAppetite").text(purchase.candy.appetite);
           $(".purchaseCandyCost").text(purchase.candy.cost);
             $(".purchaseCandyCount").text(purchase.candy.count);
            }
           
         });
       });
   
   </script>